/* TITLE.PHP STYLES *********************************************/
.center
{
	text-align:center;
}

#hangman-div
{
	padding:240px;
	margin: 0;
	border: 0;
	text-align:center;
	background-image: url('images/bad.jpeg');
	background-size:100% 100%;
}

#logo
{
	max-width:100%;
	vertical-align:middle;
}

#levels-div
{
	text-align:center;
	max-width:450px;
	margin:0 auto;
	font-weight:bold;
}

#submit-button
{
	width:200px;
	height:50px;
	font-weight:bold;
	margin:20px 0px;
}

label
{
	color:black;
}

#credits
{
	font-family:verdana;
	font-size:14px;
}

#credits a
{
	text-decoration:none;
	color:purple;
}


/* START.PHP STYLES *********************************************/
#letters
{
	font-weight:bold;
	border:1px solid black;
	padding:10px;
	max-width:300px;
	background:#eee;
}

.letter
{
	font-size:20px;
	font-weight:bold;
	margin:0 10px;
	cursor:pointer;
	padding:0 10px;
	float:left;
	width:30px;
	border:1px solid transparent;
}

.letter:hover
{
	background:yellow;
	border:1px solid red;
}

.clear
{
	clear:both;
}

#hangman-div2
{
	max-width:5000px;
	margin:0 auto;
	background:url(images/bg.jpg);
	padding:125px;
}

#hangman-div2 > div:nth-child(1)
{
	width:30%;
	float:left;
}

#hangman-div2 > div:nth-child(2)
{
	width:20%;
	float:left;
	padding:0px;
}

#hangman-div2 > div:nth-child(3)
{
	width:40%;
	float:left;
	padding:20px;
}

#lives-left-div
{
	padding:20px;
	font-size:35px;
}

#lives-left
{
	font-weight:bold;
	font-size:40px;
}

#hangman
{
	border:1px solid black;
}

#guessed-word-div
{
	text-align:left;
	font-size:50px;
	font-weight:bold;
}

#the-word-was-div
{
	font-size:30px;
	margin-top:40px;;
	text-align:center;
}

#play-again-div
{
	font-size:30px;
	margin-top:40px;
	text-align:center;        
}

.display-none
{
	display:none;
}

.guessed-letter
{
	margin:0px 5px;
	display:inline-block;
}

#credits
{
	text-align:center;
	margin-top:20px;
	font-family:verdana;
}

#credits a
{
	text-decoration:none;
	color:purple;
}

@media all and (max-width:500px)
{
	#hangman-div2 > div:nth-child(1), #hangman-div2 > div:nth-child(2), #hangman-div2 > div:nth-child(3)
	{
		float:none;
		width:100%;
	}       
}  


/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


img {

}
/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  content:url("images/arrow.png");
}

center
 {
 	position: absolute;
 	top: 20vw;
 	font-family: verdana;
 	font-size: 1.5vw; 

 }